Repository JamesDalboth/Dalble, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-config, pre-commit, release-config, repo-config, terraform, app

.github/labeler.yml:

documentation:
- "docs/**"
- "**/*.md"
- "*.md"
github-config: .github/**
pre-commit: .pre-commit-config.yml
release-config: .releaserc.yml
repo-config:
- "*"
- ".*"
terraform:
- "infrastructure/**"
- "**/*.tf"
app:
- "public/**"
- "src/**"

fix: cloudfront / react paging
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
Labels: terraform

fix: remove dalble and use product variable
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/s3.tf
  infrastructure/aws/workspace_shared/1_service/zone.tf
Labels: terraform

feat: fix cloudfront cert errors
  infrastructure/aws/tfvars/production/us-east-1/terraform.tfvars
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/variables.tf
  infrastructure/aws/workspace_shared/1_service/viewer-request.js
  infrastructure/aws/workspace_shared/1_service/zone.tf
Labels: terraform

feat: Switch to most cost effective s3 and cloudfront server
  infrastructure/aws/tfvars/production/us-east-1/terraform.tfvars
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/lightsail.tf
  infrastructure/aws/workspace_shared/1_service/s3.tf
  infrastructure/aws/workspace_shared/1_service/variables.tf
Labels: terraform

fix: acm validation
  infrastructure/aws/workspace_shared/1_service/domain.tf
Labels: terraform

fix: cloudfront / react paging
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
Labels: terraform

feat: update about section
  src/main/about/About.js
Labels: app

fix: remove dalble and use product variable
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/s3.tf
  infrastructure/aws/workspace_shared/1_service/zone.tf
Labels: terraform

feat: Remove checkov
  .github/workflows/terraform.ci.yml
Labels: github-config

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

Notes added by 'git notes add'
  05cf36c9a0895030b200a47f2b6aa532a4591dd1
Labels: repo-config

fix: run npm build before deploying terraform
  .github/workflows/deploy_app.yml
Labels: github-config

fix: run npm build before deploying terraform
  .github/workflows/deploy_app.yml
Labels: github-config

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

Notes added by 'git notes add'
  ce35ca2e39b56ac9e0a899e2496f9e8643874adf
Labels: repo-config

perf: testing
  test.txt
Labels: repo-config

feat: remove us spelling of words
  src/main/words/answers.txt
Labels: app

feat: remove us spelling of words (#11)
  src/main/words/answers.txt
Labels: app

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

Notes added by 'git notes add'
  680b0f48fb4c9862840b5a28ede1fec0fc7df70d
Labels: repo-config
