Repository JamesDalboth/Dalble, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-config, pre-commit, release-config, repo-config, terraform, app

chore(release): 0.28.0 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

Notes added by 'git notes add'
  30adb9c76bf35e28c7525b967be06e061eef1c6b
Labels: repo-config

feat: Add danger files
  .github/workflows/pull_request.yml
  Dangerfile
  Gemfile
Labels: github-config, repo-config

chore(release): 0.29.0 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

Notes added by 'git notes add'
  4c91505480265b12e5e84d700849a6cccce43ec6
Labels: repo-config

feat: Add pre-commit
  .pre-commit-config.yaml
  README.md
Labels: documentation, repo-config

chore(release): 0.30.0 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

Notes added by 'git notes add'
  89aee94e8eb258da85fcd81436dd21398ded0728
Labels: repo-config

feat: Add terraform ci
  .github/workflows/terraform.ci.yml
Labels: github-config

chore: terraform fmt
  .github/workflows/terraform.ci.yml
  infrastructure/aws/tfvars/production/us-east-1/terraform.tfvars
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/lightsail.tf
  infrastructure/aws/workspace_shared/1_service/provider.tf
  infrastructure/aws/workspace_shared/1_service/variables.tf
Labels: github-config, terraform

chore(release): 0.31.0 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

Notes added by 'git notes add'
  390a41c520915cede7b88fbc59978c2256ae3813
Labels: repo-config

feat: Add deploy workflow
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
Labels: github-config

fix: date bug
  src/main/Game.js
  src/main/Game.test.js
Labels: app

feat: docker build in pull request
  .github/workflows/pull_request.yml
Labels: github-config

feat: seperate into ci workflow
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
Labels: github-config

feat: push image
  .github/workflows/deploy.yml
  .github/workflows/deploy_app.yml
Labels: github-config

feat: push docker image
  .github/workflows/deploy_app.yml
Labels: github-config

feat: Apply terraform
  .github/workflows/deploy_app.yml
Labels: github-config

feat: init terraform
  .github/workflows/deploy_app.yml
Labels: github-config

feat: deploy on request
  .github/workflows/deploy_app.yml
Labels: github-config

fix: bump package.json
  .releaserc.yml
Labels: release-config, repo-config

chore(release): 0.32.0 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

Notes added by 'git notes add'
  bb8c310350c83fa14cdc09c195ea7b2ce2f301c1
Labels: repo-config

fix: bump package.json
  .pre-commit-config.yaml
  .releaserc.yml
Labels: release-config, repo-config

chore(release): 0.32.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

Notes added by 'git notes add'
  fbeea93bb2805778a8ca3a4d55fa824942543bf1
Labels: repo-config

fix: bump package.json
  .github/workflows/deploy_app.yml
  .pre-commit-config.yaml
  .releaserc.yml
Labels: github-config, release-config, repo-config

chore(release): 0.32.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

feat!: improve readme
  Dangerfile
  README.md
  public/dalble.png
Labels: documentation, repo-config, app

chore(release): 0.32.1 [skip ci]
  CHANGELOG.md
Labels: documentation, repo-config

feat: fix release issues
  Dangerfile
Labels: repo-config

Notes added by 'git notes add'
  5b7467018693827fbfd6c5b5ba85356c147353b2
Labels: repo-config

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

docs: update readme
  README.md
Labels: documentation, repo-config

feat: Switch to most cost effective s3 and cloudfront server
  infrastructure/aws/tfvars/production/us-east-1/terraform.tfvars
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/lightsail.tf
  infrastructure/aws/workspace_shared/1_service/s3.tf
  infrastructure/aws/workspace_shared/1_service/variables.tf
Labels: terraform

feat: update about section
  src/main/about/About.js
Labels: app

feat: Remove checkov
  .github/workflows/terraform.ci.yml
Labels: github-config

fix: acm validation
  infrastructure/aws/workspace_shared/1_service/domain.tf
Labels: terraform

feat: fix cloudfront cert errors
  infrastructure/aws/tfvars/production/us-east-1/terraform.tfvars
  infrastructure/aws/workspace_shared/1_service/cloudfront.tf
  infrastructure/aws/workspace_shared/1_service/domain.tf
  infrastructure/aws/workspace_shared/1_service/variables.tf
  infrastructure/aws/workspace_shared/1_service/viewer-request.js
  infrastructure/aws/workspace_shared/1_service/zone.tf
Labels: terraform

.github/labeler.yml:

documentation:
- "docs/**"
- "**/*.md"
- "*.md"
github-config: .github/**
pre-commit: .pre-commit-config.yml
release-config: .releaserc.yml
repo-config:
- "*"
- ".*"
terraform:
- "infrastructure/**"
- "**/*.tf"
app:
- "public/**"
- "src/**"
